<app-page-layout [loading]="getLoading" [showSidebar]="true" theme="dark">
  <app-script-viewer></app-script-viewer>
  <form
    (ngSubmit)="submit()"
    [formGroup]="form"
    class="form d-flex flex-column flex-grow-1"
    role="sidebar"
  >
    <h2 [class]="isUploading ? 'mb-4' : 'mb-0'">
      <ng-container *ngIf="!isUploading && script">
        <span class="truncate">{{ script?.name }}</span> bearbeiten
      </ng-container>
      <ng-container *ngIf="isUploading"> Skript hochladen</ng-container>
    </h2>
    <app-back-button
      (click)="backToOverview()"
      *ngIf="!isUploading"
      label="Zurück zur Übersicht"
    ></app-back-button>
    <div *ngIf="isUploading" class="form-group mb-4">
      <label for="input-script-name">Bezeichnung</label>
      <input
        class="form-control"
        formControlName="scriptName"
        id="input-script-name"
        name="scriptName"
        placeholder="Skriptbezeichnung"
        type="text"
      />
      <app-form-errors>
        <app-form-error *ngIf="fieldHasErrors('scriptName', 'required')"
        >Bitte gib eine Bezeichnung an.
        </app-form-error>
        <app-form-error *ngIf="fieldHasErrors('scriptName', 'maxlength')"
        >Bezeichnung zu lange.
        </app-form-error>
      </app-form-errors>
    </div>
    <div class="form-group mb-3">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h3 class="mb-0">Rollen</h3>
        <button
          (click)="openModal(mergeRolesModal)"
          *ngIf="script?.roles.length > 1"
          class="btn btn-sm btn-outline-primary"
          type="button"
        >
          Zusammenlegen
        </button>
      </div>
      <app-script-roles-list
        (roleClicked)="scriptViewerService.setSelectedRole($event)"
        [roles]="script?.roles"
        [selectedRole]="scriptViewerService.$selectedRole | async"
      ></app-script-roles-list>
      <ng-template #mergeRolesModal let-modal>
        <app-merge-roles-modal [modal]="modal"></app-merge-roles-modal>
      </ng-template>
    </div>
    <div class="flex-grow-1"></div>
    <app-alert
      *ngIf="!isUploading && (scriptViewerService.$loading | async)"
      [closeable]="false"
      type="primary"
    >
      <div class="script-loading">
        <div class="spinner-border spinner-border-sm me-2">
          <span class="sr-only"></span>
        </div>
        Änderungen speichern..
      </div>
    </app-alert>
    <div *ngIf="isUploading" class="d-flex flex-column align-items-stretch">
      <app-button
        [disabled]="hasError()"
        [fullWidth]="true"
        [loading]="loading"
        class="mb-2"
        label="Skript abpeichern"
        type="submit"
      ></app-button>
      <button
        (click)="openModal(cancelUploadModal)"
        class="btn btn-outline-secondary"
        type="button"
      >
        Abbrechen
      </button>
    </div>
  </form>
</app-page-layout>
<ng-template #tutorialModal let-modal>
  <app-modal
    (confirm)="modal.dismiss()"
    (decline)="modal.dismiss()"
    [showDecline]="false"
    confirmBtnLabel="Weiter"
    title="Skript überprüfen"
  >
    <p>Bitte überprüfe, ob dein Skript richtig verarbeitet wurde.<br/></p>
    <p>
      Sollten Rollen den falschen Texten zugewiesen sein, kannst du auf den Text
      klicken und die
      <strong class="text-primary">Rollen ändern</strong>.
    </p>
    <p>
      Wurden Rollen mehrfach erkannt, so kannst du auf der rechten Seitenleiste
      <strong class="text-primary">Rollen vereinigen</strong>.
    </p>
  </app-modal>
</ng-template>
<ng-template #cancelUploadModal let-modal>
  <app-modal
    (confirm)="cancelUpload(modal)"
    (decline)="modal.dismiss()"
    confirmBtnLabel="Verwerfen"
    title="Skript verwerfen"
  >
    <p>
      Sicher, dass du
      <i>{{ form.value.scriptName }} </i>
      <strong class="text-primary">verwerfen</strong>
      möchtest?
    </p>
  </app-modal>
</ng-template>
