<app-page-layout>
  <app-card title="Registrieren">
    <span class="anchor" id="formLogin"></span>
    <form (ngSubmit)="submit()" [formGroup]="form" class="form">
      <div class="form-group mb-3">
        <label for="input-firstname">Vorname</label>
        <input
          class="form-control"
          formControlName="firstName"
          id="input-firstname"
          name="firstName"
          placeholder="Dein Vorname"
          type="text"
        />
        <app-form-errors>
          <app-form-error *ngIf="fieldHasErrors('firstName', 'required')"
            >Bitte gib deinen Vornamen an.
          </app-form-error>
          <app-form-error *ngIf="fieldHasErrors('firstName', 'maxlength')"
            >Vorname zu lange.
          </app-form-error>
        </app-form-errors>
      </div>
      <div class="form-group mb-3">
        <label for="input-lastname">Nachname</label>
        <input
          class="form-control"
          formControlName="lastName"
          id="input-lastname"
          name="lastName"
          placeholder="Dein Nachname"
          type="text"
        />
        <app-form-errors>
          <app-form-error *ngIf="fieldHasErrors('lastName', 'required')"
            >Bitte gib deinen Nachnamen an.
          </app-form-error>
          <app-form-error *ngIf="fieldHasErrors('lastName', 'maxlength')"
            >Nachname zu lange.
          </app-form-error>
        </app-form-errors>
      </div>
      <div class="form-group mb-3">
        <label for="input-email">Email</label>
        <input
          class="form-control"
          formControlName="email"
          id="input-email"
          placeholder="Deine Email Adresse"
          type="text"
        />
        <app-form-errors>
          <app-form-error *ngIf="fieldHasErrors('email', 'required')"
            >Bitte gib deine Email Adresse ein.
          </app-form-error>
          <app-form-error *ngIf="fieldHasErrors('email', 'email')"
            >Bitte gib eine gültige Email Adresse ein.
          </app-form-error>
          <app-form-error *ngIf="fieldHasErrors('email', 'maxlength')"
            >Email zu lange.
          </app-form-error>
        </app-form-errors>
      </div>
      <div class="form-group mb-3">
        <label for="input-password-old">Altes Passwort</label>
        <input
          class="form-control"
          formControlName="password"
          id="input-password-old"
          placeholder="Dein altes Passwort"
          type="password"
        />
        <app-form-errors>
          <app-form-error *ngIf="fieldHasErrors('password', 'required')"
            >Bitte gib dein Passwort ein.
          </app-form-error>
          <app-form-error *ngIf="fieldHasErrors('password', 'minlength')"
            >Dein Passwort muss mindestens 8 Zeichen lang sein.
          </app-form-error>
        </app-form-errors>
      </div>
      <div class="form-group mb-3">
        <label for="input-password">Neues Passwort</label>
        <input
          class="form-control"
          formControlName="password"
          id="input-password"
          placeholder="Dein neues Passwort"
          type="password"
        />
        <app-form-errors>
          <app-form-error *ngIf="fieldHasErrors('password', 'required')"
            >Bitte gib dein Passwort ein.
          </app-form-error>
          <app-form-error *ngIf="fieldHasErrors('password', 'minlength')"
            >Dein Passwort muss mindestens 8 Zeichen lang sein.
          </app-form-error>
        </app-form-errors>
      </div>
      <div class="form-group mb-3">
        <label for="input-password-confirm">Neues Passwort wiederholen</label>
        <input
          class="form-control"
          formControlName="passwordConfirm"
          id="input-password-confirm"
          placeholder="Dein neues Passwort"
          type="password"
        />
        <app-form-errors>
          <app-form-error *ngIf="fieldHasErrors('passwordConfirm', 'required')"
            >Bitte wiederhole dein Passwort.
          </app-form-error>
          <app-form-error *ngIf="hasError('passwordsNotMatching')"
            >Deine Passwörter stimmen nicht überein.
          </app-form-error>
        </app-form-errors>
      </div>
      <app-button
        [disabled]="hasError()"
        [loading]="loading"
        class="float-end"
        label="Registrieren"
        type="submit"
      ></app-button>
    </form>
  </app-card>
</app-page-layout>
