<app-card title="Einladungslink erstellen">
  <form (ngSubmit)="submit()" [formGroup]="form" class="form">
    Erstelle einen Einladungslink und lasse ihn deiner Kollegin/deinen Kollegen zukommen
    <br /><br />
    <div class="form-group mb-3">
      <div class="link">
        {{form.value.link}}
      </div>
    </div>
    <app-button
      [disabled]="hasError()"
      [loading]="loading"
      class="float-end"
      label="Einladungslink erstellen"
      type="submit"
    ></app-button>
  </form>
</app-card>
