<app-card title="Einladungslink erstellen">
  <form (ngSubmit)="submit()" [formGroup]="form" class="form">
    Erstelle einen Einladungslink und lasse ihn deiner Kollegin/deinen Kollegen zukommen
    <br/><br/>
    <input
      class="form-control"
      formControlName="link"
      id="link"
      name="link"
      placeholder="Einladungslink"
      type="text"
      [value]=form.value.link
      READONLY
      style="margin-bottom: 1rem"
    />
    <app-button
      [disabled]="hasError()"
      [loading]="loading"
      class="float-end"
      label="Einladungslink erstellen"
      type="submit"
    ></app-button>
  </form>
</app-card>
