<app-page-layout [showSidebar]="true" [theme]="'dark'">
  <app-script-viewer></app-script-viewer>
  <form (ngSubmit)="submit()"
        [formGroup]="form"
        class="form d-flex flex-column flex-grow-1 justify-content-between"
        role="sidebar">
    <div class="d-flex flex-column">
      <h2>Bewerte wie du dich bei diesem Abschnitt gefühlt hast:</h2>
      <input autocomplete="off" class="btn-check" formControlName="assessment" id="very-good"
             type="radio" value="VERY_GOOD">
      <label class="btn btn-outline-primary" for="very-good">Sehr Gut</label>

      <input autocomplete="off" class="btn-check" formControlName="assessment" id="good"
             type="radio" value="GOOD">
      <label class="btn btn-outline-primary" for="good">Gut</label>

      <input autocomplete="off" class="btn-check" formControlName="assessment" id="needs-work"
             type="radio" value="NEEDS_WORK">
      <label class="btn btn-outline-primary" for="needs-work">Unsicher</label>

      <input autocomplete="off" class="btn-check" formControlName="assessment" id="poor"
             type="radio" value="POOR">
      <label class="btn btn-outline-primary" for="poor">Schlecht</label>

      <app-form-errors>
        <app-form-error *ngIf="fieldHasErrors('assessment', 'required')">
          Bitte wähle eine Bewertung aus.
        </app-form-error>
      </app-form-errors>
    </div>
    <div class="d-flex flex-column">
      <button class="btn btn-lg btn-primary btn-block w-100 h5 text-uppercase" type="submit">Fertigstellen</button>
    </div>
  </form>
</app-page-layout>
