<div
  *ngIf="isEditingScript || line.active"
  [class.py-2]="isInstruction"
  class="py-1"
>
  <div
    (openChange)="setIsActive($event)"
    class="d-flex px-5"
    ngbDropdown
    placement="bottom-end top-end bottom-start top-start"
  >
    <div *ngIf="!isInstruction" class="roles px-1">
      <ng-container *ngIf="!sameRolesAsPrevLine">
        <span
          *ngFor="let role of line?.roles; let i = index"
          class="d-inline-block"
          >{{ role.name }}{{ i < line?.roles.length - 1 ? ', ' : '' }}</span
        >
      </ng-container>
    </div>
    <p
      [class.fst-italic]="isInstruction"
      [class.highlighted]="
        isHighlighted(scriptViewerService.$selectedRole | async)
      "
      [class.text-secondary]="isInstruction"
      class="w-100"
      ngbDropdownToggle
    >
      {{ line?.content }}
    </p>
    <div *ngIf="isEditingScript" class="my-1" ngbDropdownMenu>
      <button (click)="toggleModal(changeLineModal)" ngbDropdownItem>
        Bearbeiten
      </button>
      <button
        (click)="removeRoles()"
        *ngIf="line.roles.length > 0"
        ngbDropdownItem
      >
        Als Instruktion markieren
      </button>
      <button (click)="toggleLineActive()" ngbDropdownItem>
        {{ line.active ? 'Ausblenden' : 'Einblenden' }}
      </button>
    </div>
    <ng-template #changeLineModal let-modal>
      <app-change-line-modal
        [line]="line"
        [modal]="modal"
      ></app-change-line-modal>
    </ng-template>
  </div>
</div>
<div
  *ngIf="(scriptViewerService.$markedSection | async)?.startLine === line.index"
  class="marking start-line"
></div>
<div
  *ngIf="(scriptViewerService.$markedSection | async)?.endLine === line.index"
  class="marking end-line"
></div>
