:host {
  display: block;
  --text-padding: 0.5em;
  position: relative;

  &.is-editing-script {
    p:hover,
    &.is-interacting p {
      background-color: rgb(0 0 0 / 5%);
      box-shadow: 0 0 7px rgb(0 0 0 / 2%);

      &.highlighted {
        background-color: rgba(228 206 7 / 30%);
        box-shadow: 0 0 7px rgb(0 0 0 / 1%);
      }
    }

    p {
      cursor: pointer;
    }
  }

  &.is-hidden {
    .roles span,
    p {
      text-decoration: line-through;
    }
  }

  &.is-marking-section {
    cursor: pointer;
  }
}

.roles {
  --width: 20%;
  padding: var(--text-padding);
  min-width: var(--width);
  max-width: var(--width);

  span {
    font-weight: 500;
    text-transform: uppercase;

    &:not(:last-of-type) {
      margin-right: 0.5em;
    }
  }
}

p {
  transition: background-color 250ms;
  border-radius: 6px;
  padding: var(--text-padding);
  white-space: normal !important;

  &:last-of-type {
    margin-bottom: 0;
  }

  &.highlighted {
    background-color: rgba(228 206 7 / 20%);
  }

  &.conflict {
    text-decoration: underline;
    text-decoration-thickness: 2px;

    &.conflict-error {
      text-decoration-color: var(--bs-danger);
    }

    &.conflict-warning {
      text-decoration-color: var(--bs-warning);
    }
  }
}

.scroll-anchor {
  position: absolute;
  top: -10vh; // shift
  left: 0;
}

.marking {
  --bleed-offset-x: 0.5rem;
  --height: 0.2rem;
  --translate-x: calc(-0.5 * var(--bleed-offset-x));
  width: calc(100% + var(--bleed-offset-x));
  border-radius: 999px;
  height: var(--height);
  box-shadow: 0 0 8px rgb(0 0 0 / 22%);
  background-color: var(--bs-primary);
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &.start-line {
    transform: translate(var(--translate-x), calc(-0.5 * var(--height)));
    top: 0;
  }

  &.end-line {
    transform: translate(var(--translate-x), calc(0.5 * var(--height)));
    bottom: 0;
  }

  span {
    padding: 0.1rem 0.8rem;
    color: var(--bs-white);
    font-weight: 500;
    font-size: 0.8rem;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
    border-radius: 6px;
    background-color: inherit;
    box-shadow: inherit;
  }
}
