<div class="modal-header">
  <h4 class="modal-title" id="modal-title">{{ title }}</h4>
  <div (click)="onDecline()" class="btn btn-close"></div>
</div>
<div class="modal-body">
  <ng-content></ng-content>
</div>
<div class="modal-footer">
  <button
    (click)="onDecline()"
    *ngIf="showDecline"
    [disabled]="loading"
    class="btn btn-outline-secondary"
    type="button"
  >
    Abbrechen
  </button>
  <app-button
    (click)="onConfirm()"
    [disabled]="disabled"
    [label]="confirmBtnLabel || 'Ok'"
    [loading]="loading"
    [theme]="theme"
    ngbAutofocus
  ></app-button>
</div>
