<h2>{{ title }}</h2>
<div class="mb-5 d-flex gap-3">
  <ng-container *ngIf="hasUploadButton">
    <button class="btn btn-light p-3" routerLink="/scripts/new">
      <img
        alt="Skript Zeichen mit einem Plus"
        src="../../../../../../assets/illustrations/script_plus_cropped.svg"
        width="100%"
      />
    </button>
  </ng-container>
  <ng-content></ng-content>
  <app-script-list-item
    *ngFor="let script of scriptService?.$scripts | async"
    [script]="script"
  ></app-script-list-item>
</div>
