<!--
  No padding-top on page but on the first line, because otherwise the background color for this gap
  could not be dimmed if the first line is not in the section
 -->
<div
  *ngIf="showPage"
  [class.is-not-in-section]="
    isNotInSection(page?.lines[page.lines.length - 1]) ||
    page?.lines[page.lines.length - 1] === section?.endLine
  "
  class="page mx-auto rounded d-flex flex-column"
>
  <div
    *ngIf="renderedContent; else loading"
    class="d-flex flex-column flex-grow-1 justify-content-between"
  >
    <div class="wrapper">
      <app-script-line
        *ngFor="let line of page?.lines; let i = index"
        [class.is-not-in-section]="isNotInSection(line)"
        [class.pt-5]="i === 0"
        [line]="line"
        [prevLine]="page?.lines[i - 1]"
      ></app-script-line>
    </div>
    <div class="d-flex justify-content-center pt-3 pb-5">
      {{ page?.index }}
    </div>
  </div>
  <ng-template #loading>
    <div class="h-100 d-flex justify-content-center align-items-center">
      <div class="spinner-border text-secondary" role="status">
        <span class="sr-only"></span>
      </div>
    </div>
  </ng-template>
</div>
