.script-loading {
  height: 1.5rem;
  display: flex;
  align-items: center;

  .spinner-border {
    height: 1.3rem;
    width: 1.3rem;
  }
}

.showScript {
  display: none;
}

.hide {
  display: none;
}

@media screen and (max-width: 858px) {
  .showScript {
    display: block;
    width: 100%;
  }

  .hide {
    display: block;
  }
}
