<app-page-layout [loading]="getLoading" [showSidebar]="true" theme="dark">
  <app-script-viewer></app-script-viewer>
  <div class="d-flex flex-column flex-grow-1" role="sidebar">
    <ng-container *ngIf="curStep === steps.selectSection">
      <h2 class="mb-4">Lernabschnitt auswählen</h2>
      <app-rehearsal-section
        (click)="changeStep(steps.createSection)"
        [isCreate]="true"
      ></app-rehearsal-section>
      <app-rehearsal-section
        *ngFor="let section of sections"
        [section]="section"
      ></app-rehearsal-section>
      <div class="flex-grow-1"></div>
      <div class="d-flex flex-column align-items-stretch mt-3">
        <button
          (click)="backToOverview()"
          class="btn btn-outline-secondary"
          type="button"
        >
          Zurück zur Übersicht
        </button>
      </div>
    </ng-container>
    <app-rehearsal-section-create
      (cancel)="changeStep(steps.selectSection)"
      *ngIf="curStep === steps.createSection"
    ></app-rehearsal-section-create>
  </div>
</app-page-layout>
