<app-page-layout [loading]="getLoading" [showSidebar]="true" theme="dark">
  <app-script-viewer></app-script-viewer>
  <div class="d-flex flex-column flex-grow-1" role="sidebar">
    <h2 class="mb-0 d-flex">
      <div class="role-name text-truncate">Mister Breckingham</div>
      üben
    </h2>
    <app-back-button
      (click)="backToOverview()"
      label="Zurück zur Übersicht"
    ></app-back-button>
    <ng-container *ngIf="curStep === steps.selectSection">
      <h3 class="mb-3">Wähle einen Lernabschnitt:</h3>
      <app-rehearsal-section
        (click)="changeStep(steps.createSection)"
        [isCreate]="true"
      ></app-rehearsal-section>
      <app-rehearsal-section
        *ngFor="let section of sections"
        [section]="section"
      ></app-rehearsal-section>
    </ng-container>
    <app-rehearsal-section-create
      (cancel)="changeStep(steps.selectSection)"
      *ngIf="curStep === steps.createSection"
    ></app-rehearsal-section-create>
  </div>
</app-page-layout>
