<app-page-layout>
  <app-card title="Passwort zurücksetzten">
    <form (ngSubmit)="submit()" [formGroup]="form" class="form">
      Hier kannst du das Zurücksetzten deines Passwortes beantragen.
      <br/><br/>
      <div class="form-group mb-3">
        <label for="input-email">Email</label>
        <input
          class="form-control"
          formControlName="email"
          id="input-email"
          name="email"
          placeholder="Deine Email Adresse"
          type="text"
        />
        <app-form-errors>
          <app-form-error *ngIf="fieldHasErrors('email', 'required')"
          >Bitte gib deine Email Adresse ein.
          </app-form-error>
          <app-form-error *ngIf="fieldHasErrors('email', 'email')"
          >Bitte gib eine gültige Email Adresse ein.
          </app-form-error>
        </app-form-errors>
      </div>
      <app-button
        [disabled]="hasError()"
        [loading]="loading"
        class="float-end"
        label="Passwort zurücksetzten"
        type="submit"
      ></app-button>
    </form>
  </app-card>
</app-page-layout>
