<app-controls>
  <app-controls-item
    (click)="changeLine('prev')"
    [class.disabled]="session?.isAtStart() || endSessionLoading"
    ngbTooltip="Zurück"
  >
    <img
      alt="Zurück"
      class="icon"
      src="../../../../../../../assets/icons/backward.svg"
    />
  </app-controls-item>
  <app-controls-item
    (click)="changeLine('next')"
    ngbTooltip="Weiter"
    [class.disabled]="endSessionLoading"
  >
    <img
      alt="Überspringen"
      class="icon"
      src="../../../../../../../assets/icons/forward.svg"
    />
  </app-controls-item>
  <app-controls-item
    (click)="openModal(stopSessionModal)"
    ngbTooltip="Beenden"
    [class.disabled]="endSessionLoading"
  >
    <img
      alt="Beenden"
      class="icon"
      src="../../../../../../../assets/icons/cross.svg"
    />
  </app-controls-item>
  <app-controls-item [class.disabled]="true || endSessionLoading">
    <bi name="three-dots"></bi>
  </app-controls-item>
</app-controls>
<ng-template #stopSessionModal let-modal>
  <app-modal
    (confirm)="stopSession(modal)"
    (decline)="modal.dismiss()"
    confirmBtnLabel="Beenden"
    title="Übungseinheit beenden"
  >
    <!-- <app-alert
       *ngIf="deleteError"
       [closeable]="false"
       class="mb-1"
       type="danger"
       >{{ this.deleteError }}</app-alert
     >-->
    Sicher, dass du diese
    <strong class="text-primary"> Übungseinheit vorläufig beenden</strong>
    möchtest?<br />
  </app-modal>
</ng-template>
