<app-controls>
  <app-controls-item>
    <bi class="smaller" name="volume-up-fill"></bi>
  </app-controls-item>
  <app-controls-item
    *ngIf="voiceRecordingService.isSupported()"
    [ngbTooltip]="
      this.isRecordingMode ? 'Aufzeichnungen abbrechen' : 'Text einsprechen'
    "
    [class.disabled]="endSessionLoading"
    class="pulsing"
    (click)="toggleRecordingMode()"
  >
    <bi
      *ngIf="this.isRecordingMode; else notRecording"
      class="smaller"
      name="mic-fill"
    ></bi>
    <ng-template #notRecording>
      <bi class="smaller" name="mic-mute-fill"></bi>
    </ng-template>
  </app-controls-item>
  <app-controls-item
    (click)="changeLine('prev')"
    [class.disabled]="session?.isAtStart() || endSessionLoading"
    ngbTooltip="Zurück"
  >
    <bi name="arrow-left"></bi>
  </app-controls-item>
  <app-controls-item
    (click)="changeLine('next')"
    ngbTooltip="Weiter"
    [class.disabled]="endSessionLoading"
  >
    <bi name="arrow-right"></bi>
  </app-controls-item>

  <app-controls-item
    (click)="pause()"
    ngbTooltip="Pause"
    [class.disabled]="isHighlighted()"
    *ngIf="!paused"
  >
    <img
      alt="Pause"
      class="icon"
      src="../../../../../../../assets/icons/pause.svg"
    />
  </app-controls-item>

  <app-controls-item
    (click)="resume()"
    ngbTooltip="Abspielen"
    [class.disabled]="isHighlighted()"
    *ngIf="paused"
  >
    <img
      alt="Pause"
      class="icon"
      src="../../../../../../../assets/icons/play.svg"
    />
  </app-controls-item>

  <app-controls-item
    (click)="openModal(stopSessionModal)"
    ngbTooltip="Beenden"
    [class.disabled]="endSessionLoading"
  >
    <bi name="x-lg"></bi>
  </app-controls-item>
  <app-controls-item [class.disabled]="true || endSessionLoading">
    <bi name="three-dots"></bi>
  </app-controls-item>
</app-controls>
<ng-template #stopSessionModal let-modal>
  <app-modal
    (confirm)="stopSession(modal)"
    (decline)="modal.dismiss()"
    confirmBtnLabel="Beenden"
    title="Übungseinheit beenden"
  >
    <!-- <app-alert
       *ngIf="deleteError"
       [closeable]="false"
       class="mb-1"
       type="danger"
       >{{ this.deleteError }}</app-alert
     >-->
    Sicher, dass du diese
    <strong class="text-primary"> Übungseinheit vorläufig beenden</strong>
    möchtest?<br />
  </app-modal>
</ng-template>
