<div class="controls d-flex bg-white shadow text-dark">
  <div
    (click)="changeLine('prev')"
    [class.disabled]="session?.isAtStart()"
    class="control no-select"
    ngbTooltip="Zurück"
  >
    <img
      alt="Zurück"
      class="icon"
      src="../../../../../../../assets/icons/backward.svg"
    />
  </div>
  <div
    (click)="changeLine('next')"
    class="control no-select"
    ngbTooltip="Weiter"
  >
    <img
      alt="Überspringen"
      class="icon"
      src="../../../../../../../assets/icons/forward.svg"
    />
  </div>
  <div
    (click)="openModal(stopSessionModal)"
    class="control no-select"
    ngbTooltip="Beenden"
  >
    <img
      alt="Beenden"
      class="icon"
      src="../../../../../../../assets/icons/cross.svg"
    />
  </div>
  <div [class.disabled]="true" class="control no-select">
    <bi name="three-dots"></bi>
  </div>
</div>
<ng-template #stopSessionModal let-modal>
  <!--"
  [loading]="deleteLoading"
  [theme]="theme.danger"-->
  <app-modal
    (confirm)="stopSession(modal)"
    (decline)="modal.dismiss()"
    confirmBtnLabel="Beenden"
    title="Übungseinheit beenden"
  >
    <!-- <app-alert
       *ngIf="deleteError"
       [closeable]="false"
       class="mb-1"
       type="danger"
       >{{ this.deleteError }}</app-alert
     >-->
    Sicher, dass du diese
    <strong class="text-primary"> Übungseinheit beenden</strong>
    möchtest?<br />
  </app-modal>
</ng-template>
