:host {
  --nav-height: 4.5rem;
  --sidebar-width: 23rem;

  & > .wrapper {
    padding-top: var(--nav-height);

    &.sidebar-gap {
      padding-right: var(--sidebar-width);
    }
  }
}

:host > .wrapper,
header,
footer {
  transition: background-color 500ms;
}

header,
footer {
  z-index: 10000; // greater than bootstrap dropdowns
}

header nav,
footer {
  height: var(--nav-height);
}

main {
  margin: 0 auto;
  max-width: 1200px;
}

aside {
  height: calc(100vh - var(--nav-height));
  width: var(--sidebar-width);
  top: var(--nav-height);
  right: 0;
  z-index: 10;
}

ul {
  display: flex;
  align-items: center;

  a.nav-link.account {
    height: 3rem;
  }
}

bi {
  height: 2rem;
}
