:host {
  --nav-height: 4.5rem;
  --sidebar-width: 24rem;

  & > .wrapper {
    padding-top: var(--nav-height);

    &.sidebar-gap {
      padding-right: var(--sidebar-width);
    }
  }
}

:host > .wrapper,
header,
footer {
  transition: background-color 500ms;
}

header,
footer {
  z-index: 10000; // greater than bootstrap dropdowns
}

header nav,
footer {
  height: var(--nav-height);
}

main {
  // 'height' must be specifically defined, as it has 'overflow: auto' and is not scrollable otherwise
  height: calc(100vh - var(--nav-height));
  margin: 0 auto;
  overflow-y: scroll;

  & > .wrapper {
    margin: 0 auto;
    max-width: 1200px;
  }

  &.is-dark-theme::-webkit-scrollbar-thumb {
    background: rgb(33, 37, 41);
  }

  &:not(.is-dark-theme)::-webkit-scrollbar-thumb {
    background: rgb(33 37 41 / 15%);
  }

  &::-webkit-scrollbar {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2ex;
  }
}

aside {
  height: calc(100vh - var(--nav-height));
  width: var(--sidebar-width);
  overflow-y: scroll;
  top: var(--nav-height);
  right: 0;
  z-index: 10;
}

ul {
  display: flex;
  align-items: center;

  a.nav-link.account {
    height: 3rem;
  }
}

bi {
  height: 2rem;
}
