:host {
  --nav-height: 4.5rem;
}

header nav,
footer {
  height: var(--nav-height);
}

main {
  margin-top: var(--nav-height);
}

ul {
  display: flex;
  align-items: center;

  a.nav-link.account {
    height: 3rem;
  }
}
