<div class="wrapper d-flex flex-column min-vh-100 bg-{{ theme }}">
  <header *ngIf="showHeader" class="fixed-top">
    <nav
      class="px-5 navbar navbar-expand-lg navbar-dark bg-{{
        theme === 'light' ? 'dark' : 'black'
      }} shadow"
    >
      <a class="navbar-brand" routerLink="">Aktoria</a>
      <button
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        class="navbar-toggler ml-5"
        data-target="#navbarSupportedContent"
        data-toggle="collapse"
        type="button"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse d-flex justify-content-between"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              *ngIf="authService.isLoggedIn()"
              [routerLinkActiveOptions]="{ exact: true }"
              class="nav-link"
              routerLink="/scripts"
              routerLinkActive="active"
            >Deine Skripte</a
            >
          </li>
        </ul>
        <ul class="navbar-nav">
          <ng-container *ngIf="!authService.isLoggedIn(); else loggedIn">
            <a class="nav-link" routerLink="/login" routerLinkActive="active"
            >Login</a
            >
            <a
              class="nav-link"
              role="button"
              routerLink="/register"
              routerLinkActive="active"
            >Registrieren</a
            >
          </ng-container>
          <ng-template #loggedIn>
            <div class="d-flex flex-column">
              <div class="d-inline-block" display="dynamic" ngbDropdown>
                <button
                  class="btn btn-outline-primary"
                  id="dropdownBasic1"
                  ngbDropdownToggle
                  type="button"
                >
                  <bi class="" name="person-circle"></bi>
                </button>
                <div
                  aria-labelledby="dropdownBasic1"
                  class="bg-dark"
                  ngbDropdownMenu
                >
                  <a
                    class="nav-link account"
                    ngbDropdownItem
                    routerLink="/profile"
                  >
                    Profil
                  </a>
                  <a
                    (click)="logout()"
                    class="nav-link"
                    ngbDropdownItem
                    routerLink="/"
                  >Logout</a
                  >
                </div>
              </div>
            </div>
          </ng-template>
        </ul>
      </div>
    </nav>
  </header>
  <main class="w-100 p-5 flex-grow-1 d-flex flex-column">
    <div
      *ngIf="loading"
      @fixedAppear
      class="fixed-top vh-100 vw-100 flex-grow-1 d-flex justify-content-center align-items-center"
    >
      <div class="spinner-border text-secondary" role="status">
        <span class="sr-only"></span>
      </div>
    </div>
    <div *ngIf="!loading" @fixedAppear class="flex-grow-1 d-flex flex-column">
      <ng-content></ng-content>
    </div>
  </main>
  <footer *ngIf="showFooter" class="px-5 bg-light"></footer>
</div>
