<div role="button" routerLink="/{{ script?.id }}">
  <div class="card" style="width: 10rem; height: 10rem">
    <div class="d-flex align-items-center justify-content-center h-100">
      <img
        alt="Skript Zeichen"
        class="card-img p-3"
        src="../../../../../../assets/illustrations/script_cropped.svg"
        style="opacity: 0.1"
      />
    </div>
    <div class="card-img-overlay">
      <h5 class="card-title text-truncate">{{ script?.name }}</h5>
    </div>
  </div>
</div>
