<app-page-layout [loading]="!user">
  <app-card title="Profildaten ändern">
    <span class="anchor" id="formChangeProfile"></span>
    <form (ngSubmit)="submit()" [formGroup]="form" class="form">
      <div class="form-group mb-3">
        <label for="input-firstname">Vorname</label>
        <input
          class="form-control"
          formControlName="firstName"
          id="input-firstname"
          name="firstName"
          placeholder="Dein Vorname"
          type="text"
        />
        <app-form-errors>
          <app-form-error *ngIf="fieldHasErrors('firstName', 'maxlength')"
            >Vorname zu lange.
          </app-form-error>
        </app-form-errors>
      </div>
      <div class="form-group mb-3">
        <label for="input-lastname">Nachname</label>
        <input
          class="form-control"
          formControlName="lastName"
          id="input-lastname"
          name="lastName"
          placeholder="Dein Nachname"
          type="text"
        />
        <app-form-errors>
          <app-form-error *ngIf="fieldHasErrors('lastName', 'maxlength')"
            >Nachname zu lange.
          </app-form-error>
        </app-form-errors>
      </div>
      <div class="form-group mb-3">
        <label for="input-email">Email</label>
        <input
          class="form-control"
          formControlName="email"
          id="input-email"
          placeholder="Deine Email Adresse"
          type="text"
        />
        <app-form-errors>
          <app-form-error *ngIf="fieldHasErrors('email', 'email')"
            >Bitte gib eine gültige Email Adresse ein.
          </app-form-error>
          <app-form-error *ngIf="fieldHasErrors('email', 'maxlength')"
            >Email zu lange.
          </app-form-error>
        </app-form-errors>
      </div>
      <div class="d-flex flex-column align-items-center mb-3">
        <button
          (click)="toggleShowPasswordChange()"
          [attr.aria-expanded]="showPasswordChange"
          aria-controls="collapseExample"
          class="btn btn-sm btn-outline-primary"
          type="button"
        >
          Passwort
          <span *ngIf="showPasswordChange">doch nicht</span>
          ändern
        </button>
        <div [(ngbCollapse)]="!showPasswordChange" class="w-100">
          <div class="form-group mb-3">
            <label for="input-password-old">Altes Passwort</label>
            <input
              class="form-control"
              formControlName="oldPassword"
              id="input-password-old"
              placeholder="Dein altes Passwort"
              type="password"
            />
            <app-form-errors>
              <app-form-error *ngIf="fieldHasErrors('oldPassword', 'minlength')"
                >Dein Passwort muss mindestens 8 Zeichen lang sein.
              </app-form-error>
              <app-form-error *ngIf="hasError('requiredOldPassword')"
                >Bitte gib dein altes Passwort an.
              </app-form-error>
            </app-form-errors>
          </div>
          <div class="form-group mb-3">
            <label for="input-password">Neues Passwort</label>
            <input
              class="form-control"
              formControlName="password"
              id="input-password"
              placeholder="Dein neues Passwort"
              type="password"
            />
            <app-form-errors>
              <app-form-error *ngIf="fieldHasErrors('password', 'minlength')"
                >Dein Passwort muss mindestens 8 Zeichen lang sein.
              </app-form-error>
              <app-form-error *ngIf="hasError('requiredNewPassword')"
                >Bitte gib ein neues Passwort an.
              </app-form-error>
              <app-form-error *ngIf="hasError('oldAndNewPasswordsEqual')"
                >Dein neues Passwort darf nicht deinem alten entsprechen.
              </app-form-error>
            </app-form-errors>
          </div>
          <div class="form-group mb-3">
            <label for="input-password-confirm"
              >Neues Passwort wiederholen</label
            >
            <input
              class="form-control"
              formControlName="passwordConfirm"
              id="input-password-confirm"
              placeholder="Dein neues Passwort"
              type="password"
            />
            <app-form-errors>
              <app-form-error *ngIf="hasError('passwordsNotMatching')"
                >Deine Passwörter stimmen nicht überein.
              </app-form-error>
            </app-form-errors>
          </div>
        </div>
      </div>
      <button class="btn btn-secondary" routerLink="/profile" type="button">
        Abbrechen
      </button>
      <app-button
        [disabled]="hasError()"
        [loading]="loading"
        class="float-end"
        label="Ändern"
        type="submit"
      ></app-button>
    </form>
  </app-card>
</app-page-layout>
