<div class="card overflow-hidden position-relative" style="width: 18rem">
  <div class="card-body py-3 px-3">
    <h5
      class="card-title mb-0 d-flex justify-content-between align-items-center"
    >
      {{ isCreate ? 'Abschnitt erstellen' : section?.name }}
    </h5>
    <h6 *ngIf="!isCreate" class="mb-0">
      Seite {{ section?.getStartPage(this.script) }} -
      {{ section?.getEndPage(this.script) }}
    </h6>
  </div>
  <div *ngIf="!isCreate" class="section-span w-100 position-relative">
    <div
      [style.left.%]="startLinePercentage"
      [style.right.%]="100 - endLinePercentage"
      class="indicator"
    ></div>
  </div>
</div>
