/* You can add global styles to this file, and also import other style files */
body {
  --max-grid: 1200px;
  background-color: whitesmoke;
  overflow: hidden;
}

a {
  cursor: pointer;
}

form .form-control {
  transition: background-color 200ms;
}

.dropdown-toggle::after {
  display: none !important;
}

.bg-lighter-dark {
  background-color: hsl(210deg 11% 21%) !important;
}

.dropdown-menu-lg .dropdown-menu {
  min-width: 100%;
  font-size: 1.2rem;

  .dropdown-item {
    padding: 0.6rem 1.1rem;
    //text-align: end;
  }
}

label {
  font-weight: 500;
  margin-bottom: 0.3rem;
}

.badge {
  &.badge-primary {
    --badge-color: var(--bs-primary);
  }

  &.badge-secondary {
    --badge-color: var(--bs-warning);
  }

  &.badge-lg,
  &.badge-xl {
    padding: 0.4rem 0.8rem;
    border-radius: 9999px;
    font-size: 1em;
    font-weight: 400;
    border: 1px var(--bs-secondary) solid;
    color: var(--bs-secondary);

    &:hover {
      color: var(--badge-color);
      border-color: var(--badge-color);
    }

    &.selected {
      background-color: var(--badge-color);
      color: var(--bs-white);
      border-color: var(--badge-color);
    }
  }

  &.badge-xl {
    padding: 0.5rem 1rem;
    font-size: 1.1em;
  }
}

.no-select,
.tooltip {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.tooltip {
  .tooltip-inner {
    background-color: rgb(0 0 0 / 90%) !important;
  }

  .tooltip-arrow::before {
    border-top-color: rgb(0 0 0 / 90%) !important;
    transform: translateY(1px);
  }
}

app-controls app-controls-item {
  &:not(.disabled):hover bi {
    color: var(--bs-primary) !important;
  }

  &.pulsing bi {
    animation: pulsing;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }

  img.icon {
    height: 1.5rem;
  }

  bi {
    transition: color 200ms ease-in-out;
    color: var(--bs-dark);

    &.smaller {
      transform: scale(0.9);
    }

    svg {
      width: 1.9rem;
    }
  }

  @keyframes pulsing {
    0% {
      color: var(--bs-dark);
    }
    50% {
      color: var(--bs-danger);
    }
    100% {
      color: var(--bs-dark);
    }
  }
}
