/* You can add global styles to this file, and also import other style files */
body {
  background-color: whitesmoke;
}

a {
  cursor: pointer;
}

form .form-control {
  transition: background-color 200ms;
}

.dropdown-toggle::after {
  display: none !important;
}

.bg-lighter-dark {
  background-color: hsl(210deg 11% 21%) !important;
}

.badge.badge-lg {
  font-size: 1em;
  font-weight: 500;
}
