/* You can add global styles to this file, and also import other style files */
body {
  background-color: whitesmoke;
  overflow: hidden;
}

a {
  cursor: pointer;
}

form .form-control {
  transition: background-color 200ms;
}

.dropdown-toggle::after {
  display: none !important;
}

.bg-lighter-dark {
  background-color: hsl(210deg 11% 21%) !important;
}

label {
  font-weight: 500;
  margin-bottom: 0.4rem;
}

.badge.badge-lg {
  border-radius: 9999px;
  font-size: 1em;
  font-weight: 500;
  border: 1px var(--bs-secondary) solid;
  color: var(--bs-secondary);

  &:hover {
    color: var(--bs-warning);
    border-color: var(--bs-warning);
  }

  &.selected {
    background-color: var(--bs-warning);
    color: var(--bs-white);
    border-color: var(--bs-warning);
  }
}
