:host {
  transition: opacity 200ms ease-in-out;
  padding: 0.7rem 0.5rem;
  cursor: pointer;
  opacity: 0.6;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  color: hsl(208deg 7% 38%);

  &.disabled {
    opacity: 0.19;
  }

  &:not(.disabled) {
    &:hover bi {
      color: var(--bs-primary) !important;
    }
  }
}
