:host {
  display: flex;
  /*
    Necessary to have the appearAnimations work properly. Because the parent's height shrinks to 0,
    the children, that stick on the bottom, are shifted upwards.
  */
  align-items: flex-end;

  &:not(.is-active) {
    .role-names,
    p,
    .recording-indicator {
      opacity: 25%;
    }
  }

  &.is-instruction {
    font-style: italic;
  }
}

.role-names,
p,
.recording-indicator {
  transition: opacity 200ms ease-in-out;
}

.role-names,
p {
  font-size: 1.8rem;
}

@media screen and (max-width: 992px) {
  .role-names,
  p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .role-names,
  p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .role-names,
  p {
    font-size: 1rem;
  }
}

.role-names {
  font-weight: 600;

  .name {
    &.is-highlighted {
      color: var(--bs-primary);
    }

    &:not(:last-of-type):after {
      content: ', ';
    }
  }
}

.is-currentText {
  &.is-Blurred {
    color: transparent;
    text-shadow: 0 0 20px #000;
  }
}

.recording-indicator {
  display: flex;
  align-items: center;
  transform-origin: left;

  bi {
    height: 1.1rem;
    width: 1.1rem;
    margin-right: 0.2rem;
  }
}
