:host {
  display: flex;
  /*
    Necessary to have the appearAnimations work properly. Because the parent's height shrinks to 0,
    the children, that stick on the bottom, are shifted upwards.
  */
  align-items: flex-end;

  &:not(.is-active) {
    .role-names,
    p,
    .recording-indicator {
      opacity: 25%;
    }
  }

  &.is-instruction {
    font-style: italic;
  }
}

.role-names,
p,
.recording-indicator {
  transition: opacity 200ms ease-in-out;
}

.role-names,
p {
  font-size: 1.8rem;
}

@media screen and (max-width: 992px) {
  .role-names,
  p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .role-names,
  p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .role-names,
  p {
    font-size: 1rem;
  }
}

.role-names {
  font-weight: 600;

  .name {
    &.is-highlighted {
      color: var(--bs-primary);
    }

    &:not(:last-of-type):after {
      content: ', ';
    }
  }
}

p.is-highlighted {
  background-color: hsl(55deg 94% 46% / 18%);
  border-radius: 6px;
  box-shadow: 0 0 7px rgb(0 0 0 / 1%);
  padding: 4px 13px;
}

p {
  transition: filter 150ms ease-in-out;
}

.is-Blurred {
  filter: blur(8px);
}

.recording-indicator {
  display: flex;
  align-items: center;
  transform-origin: left;

  bi {
    height: 1.1rem;
    width: 1.1rem;
    margin-right: 0.2rem;
  }
}
